<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="font-family: Arial, Helvetica, sans-serif">
        <div>
            <p style="font-weight: bold; display: inline;">{{NOME_EMPRESA}} | Personal Care</p> <br />
            Responsável pela ficha: <p style="font-weight: bold; display: inline;">{{USUARIO_FICHA}}</p> <br />
            Criada em: <p style="font-weight: bold; display: inline;">{{DATA_CRIACAO}}</p> <br />
            Vence em: <p style="font-weight: bold; display: inline;">{{DATA_VENCIMENTO}}
        </div>
        <div style="margin: 15px 0px;">
            Olá, <p style="display: inline;">{{NOME_CONTA}}</p>. <br />
            Aqui está sua ficha de treino, esperamos que com ela você alcance seus objetivos! 
        </div>
        <div style="width: 50%;">
            {{GRUPOS}}
        </div>
        <div>
            Em caso de dúvidas sobre sua ficha de treinamento, ente em contato com o resposável para mais detalhes.
        </div>
    </body>
</html>