<table style="margin-bottom: 35px; border-collapse: collapse;">
    <thead style="background-color: rgb(110, 110, 192);">
        <tr>
            <th style="text-align: center; border: 1px solid;" colspan="4">
                Grupo de treino - {{GRUPO}}
            </th>
        </tr>
        <tr style="border: 1px solid;">
            <th style="border: 1px solid; width: 100%; padding: 3px;">Treino</th>
            <th style="border: 1px solid; padding: 0px 5px;">Categoria</th>
            <th style="border: 1px solid; padding: 0px 5px;">Séries</th>
            <th style="border: 1px solid; padding: 0px 5px;">Repetições</th>
        </tr>
    </thead>
    {{ITEM_GRUPO}}
</table>
