<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="font-family: Arial, Helvetica, sans-serif">
        <div>
            <p style="font-weight: bold; display: inline;">{{NOME_EMPRESA}} | Personal Care</p> - Redefinição de senha de usuário
        </div>
        <div style="margin-top: 20px;">
            Seu código de verificação para alteração de senha abaixo, caso não tenha sido você quem tenha realizado a solicitação, favor desconsiderar.
        </div>
        <div style="font-weight: bold; text-align: center; margin-top: 20px; font-size: 25px; padding: 30px;">
            {{CODIGO_VERIFICACAO}}
        </div>
        <div style="margin-top: 20px; color: rgb(110, 110, 110);">
            Código válido por até 10 minutos, após o prazo deverá ser feita uma nova solicitação.
        </div>
    </body>
</html>
